.companies_list {
  list-style: none;
  padding: 0;
  display: flex;
}

.companies_title {
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.companies_list__fallback {
  color: white;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #9f5ccc;
  border: 1px solid #9f5ccc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #873abb;
  border-color: #873abb;
}

.actions Link {
  color:black;
}
